<div id="menuBar">
   <a class="active" href="/">Home</a>
   <a href="classes">Class</a>
   <a href="search">Search</a>
   <a href="account">Account</a>
</div>

<div id="title">
   <h1>Account Info</h1>
</div>

<div class="accountInfo">
   <table>
      <tr>
         <th>Name</th>
         <th>ID</th>
         <th>Email</th>
         <th>Phone Number</th>
      </tr>
      <tr>
         <td>Kyeong-nam Kim</td>
         <td>1</td>
         <td>kimkyeon@oregonstate.edu</td>
         <td>123-345-3556</td>
         <td>
            <a href="edit"><button id="editButton" type="button">Edit</button></a>
         </td>
      </tr>
   </table>
</div>