<html>
<h1>Add Class</h1>
<h3>Add a class by email</h3>
<form id="add-class" action="/search/class/{{id}}" method="post">
   <input id="email" type="text" name="email" value="">@oregonstate.edu
   <input type="submit" value="Add">
</form>
</html>
