
<!DOCTYPE html>
<html>
	<meta charset="UTF-8">
		<head>
  			<link rel="stylesheet" type="text/css" href="classes.css">
  		</head>
  	<body id="body">
    	<div id="menuBar">
      		<a class="active" href="index.html">Home</a>
      		<a href="class.html">Class</a>
      		<a href="search.html">Search</a>
      		<a href="account.html">Account</a>
    	</div>  
    	<div id="head">
      		<h1> Student Account </h1>
    	</div>
   	 	
      <table id="studenClasses">
          <tr>
            <th> Term </th>
            <th> Class </th>
            <th> Subject </th>
            <th> Credit </th>
            <th> Fees </th>
            <th> Paid </th>
          </tr>
          <tr>
            <td> Spring 2020 </td>
            <td> cs325 </td>
            <td> Algorithm </td>
            <td> 4 </td>
            <td> $2,000 </td>
            <td> Yes
              <button> Drop </button>
            </td>
          </tr>
          <tr>
            <td> Spring 2020 </td>
            <td> cs340 </td>
            <td> Databases </td>
            <td> 4 </td>
            <td> $2,000 </td>
            <td> No 
              <button> Drop </button>
            </td>
          </tr>
          <tr>
            <td> Spring 2020 </td>
            <td> cs361 </td>
            <td> Software Engineering 1 </td>
            <td> 3 </td>
            <td> $1,500 </td>
            <td> No 
              <button> Drop </button>
            </td>
          </tr>
        </table>   	 
  	</body>
</html>