<div id="menuBar">
   <a class="active" href="/">Home</a>
   <a href="search">Search</a>
   <a href="classes">Class</a>
   <a href="admin">Admin</a>
</div>  
<div id="head">
   <h1> Check Enrolled Classes </h1>
</div>

<form id="class_search" action="" method="">
    <label> Search by your Student ID(Click button not Enter)</label>
    <input id="student_ID" type="text" name="student_ID" value="">
    <input type="button" value="Search" onclick="getStudentID()">
</form>