<div id="menuBar">
   <a class="active" href="/">Home</a>
   <a href="classes">Class</a>
   <a href="search">Search</a>
   <a href="account">Account</a>
</div>  
<div id="title">
   <h1>Edit Info</h1>
</div>

<div class="editInfo">
   <form id="editForm">
      <div class="container">
         <label for="email">Email: </label>
         <input type="text" placeholder="Enter Email" name="email" id="email" required>
   
         <label for="phone">Middle Name: </label>
         <input type="tel" placeholder="Phone Number" name="phone" id="phone">
   
         <input type="submit" value="Update">
      </div>      
   </form>
   <input type="button" value="cancel" onclick="history.back()">
</div>