<div id="menuBar">
   <a class="active" href="/">Home</a>
   <a href="classes">Class</a>
   <a href="search">Search</a>
   <a href="account">Account</a>
</div>  
<div id="head">
   <h1> Manage your classes! </h1>
</div>

<button class="block" id="classButton" onclick="location.href='http://access.engr.oregonstate.edu:9777/classes';"> Classes </button>
<button class="block" id="searchButton" onclick="location.href='http://access.engr.oregonstate.edu:9777/search';"> Search </button>
<button class="block" id="accountButton" onclick="location.href='http://access.engr.oregonstate.edu:9777/account';"> Account </button>

</div>