<div id="menuBar">
   <a class="active" href="/">Home</a>
   <a href="search">Search</a>
   <a href="classes">Class</a>
   <a href="admin">Admin</a>
</div>
<div id="head">
   <h1> Search and Add Classes </h1>
</div>

<a href="search"><button class="block" id="classButton"> Search Classes</button></a>
<a href="classes"><button class="block" id="classButton"> Check Classes </button></a>