<nav class="navbar navbar-expand-md bg-light navbar-light mb-3">
   <a class="navbar-brand" href="/">School Enrollment Manager</a>
   <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/classes">Class</a>
         </li>
      </ul>
   </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
        </ul>
    </div>
</nav>
<h3 class="mb-3 text-center">School Enrollment Manager</h3>

<div class="d-flex justify-content-center">
   <div class="list-group">
      <a class="list-group-item list-group-item-action list-group-item-primary" href="/search">
         <p>Search Classes</p>
         <ul class="list-group">
            <li class="list-group-item">FILTER Subjects</li>
            <li class="list-group-item">FILTER Terms</li>
            <li class="list-group-item">SELECT Subjects, Terms, and Classes</li>
         </ul>
      </a>
      <a class="list-group-item list-group-item-action list-group-item-success" href="/search/class/2">
         <p>Add a Class by Email</p>
         <ul class="list-group">
            <li class="list-group-item">M:M INSERT Account_Details associated with Accounts and Classes (e.g. Type 'pine' and Click Add)</li>
         </ul>
      </a>
      <a class="list-group-item list-group-item-action list-group-item-warning" href="/classes">
         <p>Check Enrolled Classes</p>
         <ul class="list-group">
            <li class="list-group-item">SEARCH Classes (e.g. Type '18' and Click Search)</li>

         </ul>
      </a>
      <a class="list-group-item list-group-item-action list-group-item-info" href="/classes/search/18">
         <p>Delete a Class</p>
         <ul class="list-group">
            <li class="list-group-item">SELECT Subjects, Terms, and Classes</li>
            <li class="list-group-item">DELETE M:M Account_Details associated with Accounts and Classes</li>
         </ul>
      </a>
      <a class="list-group-item list-group-item-action list-group-item-danger" href="/admin">
         <p>Admin Page</p>
         <ul class="list-group">
            <li class="list-group-item">
               <p>SELECT, INSERT, UPDATE, DELETE Classes</p>
               <p>SELECT Account_Details</p>
               <p>UPDATE Classes NULLable associated with Subjects and Terms</p>
            </li>
            <li class="list-group-item">SELECT, INSERT, UPDATE, DELETE Students</li>
            <li class="list-group-item">SELECT, INSERT, DELETE Accounts</li>
            <li class="list-group-item">SELECT, INSERT, DELETE Subjects</li>
            <li class="list-group-item">SELECT, INSERT, DELETE Terms</li>
         </ul>
      </a>
   </div>
</div>





