<div id="menuBar">
   <a class="active" href="index">Home</a>
   <a href="classes">Class</a>
   <a href="search">Search</a>
   <a href="account">Account</a>
</div>  
<div id="head">
   <h1> Student Account </h1>
</div>

<div class="container"> 
   <div class="classes">
      <a href="classes">Class</a>  
   </div>
   <div class="search">
      <a href="search">Search</a>
   </div>
   <div class="account">
      <a href="account">Account</a>
   </div>
</div>