
<!DOCTYPE html>
<html>
	<meta charset="UTF-8">
		<head>
  			<link rel="stylesheet" type="text/css" href="index.css">
  		</head>
  	<body id="body">
    	<div id="head">
      		<h1> Student Account </h1>
    	</div>

        <button class="block" id="classButton" onclick="location.href=class.html"> Classes </button>
        <button class="block" id="accountButton" onclick="locatioin.href=account.html"> Account </button>
        <button class="block" id="searchButton" onclick="location.href=search.html"> Search </button>

  	</body>
</html>