<div id="menuBar">
   <a class="active" href="/">Home</a>
   <a href="classes">Class</a>
   <a href="search">Search</a>
   <a href="admin">Admin</a>
</div>
<div id="head">
   <h1> Manage your classes! </h1>
</div>

<a href="classes"><button class="block" id="classButton"> Classes </button></a>
<a href="search"><button class="block" id="classButton"> Search </button></a>