<div id="menuBar">
   <a class="active" href="/">Home</a>
   <a href="classes">Class</a>
   <a href="search">Search</a>
   <a href="account">Account</a>
</div>  
<div id="head">
      <h1> Class Search </h1>
</div>
   
<div class="searchMenu">
   <input type="text" placeholder="Class Name">
   <button> Search </button>
   <button> Cancel </button>
</div>

<table id="studenClasses">
   <tr>
      <th> Term </th>
      <th> Class </th>
      <th> Subject </th>
      <th> Credit </th>
      <th> Fees </th>
      <th> Paid </th>
   </tr>
   <tr>
      <td> Spring 2020 </td>
      <td> cs325 </td>
      <td> Algorithm </td>
      <td> 4 </td>
      <td> $2,000 </td>
      <td> Yes 
         <button> Add </button>
      </td>
   </tr>
   <tr>
      <td> Spring 2020 </td>
      <td> cs340 </td>
      <td> Databases </td>
      <td> 4 </td>
      <td> $2,000 </td>
      <td> No 
         <button> Add </button>
      </td>
   </tr>
   <tr>
      <td> Spring 2020 </td>
      <td> cs361 </td>
      <td> Software Engineering 1 </td>
      <td> 3 </td>
      <td> $1,500 </td>
      <td> No 
         <button> Add </button>
      </td>
   </tr>
</table>   