<div id="menuBar">
   <a class="active" href="/">Home</a>
   <a href="classes">Class</a>
   <a href="search">Search</a>
   <a href="admin">Admin</a>
</div>  
<div id="head">
      <h1> Class Search </h1>
</div>
   
<div class="searchMenu">
   <div class="searchMenu">
        <div class="dropdown">
          <label for="termSelect"> Term </label>
          <select id="termSelect">
            <option> Spring 2020 </option>
            <option> Summer 2020 </option>
            {{#each term_id}}
            <option value="{{this}}"> {{term_name}} </option>
            {{/each}}
          </select>
        </div>
        <div class="dropdown">
          <label for="subjectSelect"> Subject </label>
          <select id="subjectSelect">
            <option> Computer Science </option>
            <option> Art </option>
            {{#each subject_id}}
            <option value="{{this}}"> {{subject_id}} </option>
            {{/each}}
          </select>
        </div>
      </div>
</div>

<table id="studenClasses">
   <tr>
      <th> Term </th>
      <th> Class </th>
      <th> Subject </th>
      <th> Enrolled </th>
      <th> Max </th>
   </tr>
   <tr>
      <td> Spring 2020 </td>
      <td> cs362 </td>
      <td> SE 2 </td>
      <td> 250 </td>
      <td> 250 </td>
      <td>
         <form>
            <label for="email">Email: </label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>
            <input type="submit" value="Add">
         </form>
      </td>
   </tr>
   <tr>
      <td> Spring 2020 </td>
      <td> cs344 </td>
      <td> OS </td>
      <td> 68 </td>
      <td> 250 </td>
      <td>
         <form>
            <label for="email">Email: </label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>
            <input type="submit" value="Add">
         </form>
      </td>
   </tr>
   <tr>
      <td> Spring 2020 </td>
      <td> cs377 </td>
      <td> Network </td>
      <td> 140 </td>
      <td> 300 </td>
      <td>
         <form>
            <label for="email">Email: </label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>
            <input type="submit" value="Add">
         </form>
      </td>
   </tr>
</table>