<div id="menuBar">
   <a class="active" href="/">Home</a>
   <a href="classes">Class</a>
   <a href="search">Search</a>
   <a href="account">Account</a>
   <a href="signup">Sign Up</a>
   <a href="admin">Admin</a>
</div>

<div id="title">
   <h1>Sign Up</h1>
</div>

<form id="signupForm">
   Email: <input type="text" name="email"><br>
   First Name: <input type="text" name="fname"><br>
   Middle Name: <input type="text" name="mname"><br>
   Last Name: <input type="text" name="lname"><br>
   Phone Number: <input type="text" name="phone"><br>
   <input type="submit" value="Sign Up">
</form>
<input type="button" value="cancel" onclick="history.back()">