<div id="menuBar">
   <a class="active" href="/">Home</a>
   <a href="classes">Class</a>
   <a href="search">Search</a>
   <a href="account">Account</a>
   <a href="signup">Sign Up</a>
   <a href="admin">Admin</a>
</div>

<div id="title">
   <h1>Sign Up</h1>
</div>

<form id="signupForm">
   <div class="container">
      <label for="email">Email: </label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>

      <label for="fname">First Name: </label>
      <input type="text" placeholder="First Name" name="fname" id="fname" required>

      <label for="mname">Middle Name: </label>
      <input type="text" placeholder="Optional" name="mname" id="mname">

      <label for="lname">Last Name: </label>
      <input type="text" placeholder="Last Name" name="lname" id="lname">

      <label for="phone">Phone Number: </label>
      <input type="tel" placeholder="Phone Number" name="phone" id="phone">

      <input type="submit" value="Sign Up">
   </div>
</form>
<input type="button" value="cancel" onclick="history.back()">