

/* html {
   font-family: sans-serif;
 }
 body {
   max-width: 1000px;
   margin: auto;
 }

 table {
  max-width: 900px;
  /* margin: auto; */
/* } */
/* 
#menuBar {
	width: 100%;
  background-color: lightgrey;
  overflow: hidden;
}

#menuBar a {
  float: left;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
  font-size: 16px;
}

h1 {
	font-size: 36px;
}

#menuBar a:hover {
  background-color: darkgrey;
  color: black;
}

.block {
  display:block;
  width: 200px;
  height: 200px;
  background-color: grey;
  color: black;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

#classButton, #accountButton, #searchButton {
  display: inline-block;
} */

.card {
  margin: 0 auto;
  float: none; 
  margin-bottom: 10px; 
}
